* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	height: 100vh;
	width: 80%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
	background-color: #000;
	color: #ffebe7;
}

.title {
	text-align: center;
}

.label {
	font-size: 1.2rem;
	margin: 10px 0;
	text-align: center;
}

.container_input {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

input {
	padding: 15px;
	border-radius: 10px;
	border: none;
	width: 80%;
	overflow: hidden;
	margin: 10px 0;
	background-color: #ffebe7;
}

input:focus {
	outline: none;
}

button {
	padding: 10px;
	border-radius: 10px;
	border: none;
	padding: 15px;
	overflow: hidden;
	margin: 10px 0;
	background-color: #ff6f61;
	color: #ffebe7;
	cursor: pointer;
}

button:hover {
	background-color: #ff9b8f;
}


.list_book {
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	list-style: none;
	gap: 5px;
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
}

.count_book {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	list-style: none;
	gap: 5px;
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
}

.list_book li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 10px;
	border-radius: 10px;
	background-color: #7F95D1;
	color: #ffebe7;
}

.helpers {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.helpers_steps {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	text-align: center;
	margin-top: 20px;
}

.helpers_steps p {
	font-size: 1.2rem;
	border: 1px solid #7F95D1;
	height: 100%;
	padding: 40px 25px;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (max-width: 768px) {
	body {
		width: 100%;
		padding: 10px
	}

	button {
		width: 80%;
	}
}